In [1]:
import pandas as pd
import numpy as np0

In [2]:
data = pd.read_csv("indian_liver_patient.csv")

In [3]:
data

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,0
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,0

In [4]:
data.shape

(583, 11)

In [5]:
data = data.dropna()

In [6]:
data.shape

(579, 11)

In [7]:
data.head(5)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [8]:
data = pd.get_dummies(data)

In [9]:
data.shape

(579, 12)

In [10]:
data = data.drop(["Gender_Female"],axis=1)

In [11]:

data = data.rename(columns={"Dataset": "OUTPUT"})
data.shape

(579, 11)

In [12]:
print(data[data.OUTPUT==1].shape)
data[data.OUTPUT==1]

(414, 11)

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,OUTPUT,Gender_Male
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,1,0
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,1,1
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,1,1
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,1,1
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,1,1
...,...,...,...,...,...,...,...,...,...,...,...
576,32,15.0,8.2,289,58,80,5.3,2.2,0.70,1,1
577,32,12.7,8.4,190,28,47,5.4,2.6,0.90,1,1
579,40,0.6,0.1,98,35,31,6.0,3.2,1.10,1,1
580,52,0.8,0.2,245,48,49,6.4,3.2,1.00,1,1
581,31,1.3,0.5,184,29,32,6.8,3.4,1.00,1,1

In [13]:
x =data[["Age","Total_Bilirubin","Direct_Bilirubin","Alkaline_Phosphotase","Alamine_Aminotransferase","Aspartate_Aminotransferase","Total_Protiens","Albumin","Albumin_and_Globulin_Ratio","Gender_Male"]]
y = data.OUTPUT

In [29]:

from imblearn.combine import SMOTETomek
smk = SMOTETomek()
x_ovr,y_ovr =smk.fit_sample(x,y)

In [30]:
#Splitting the data into training and testing set
from sklearn.model_selection import train_test_split
X_train ,X_test,y_train,y_test = train_test_split(x_ovr,y_ovr, test_size=0.2, random_state = 7)

In [31]:
from sklearn.linear_model import LogisticRegression

In [32]:
classifier_LR = LogisticRegression()
classifier_LR.fit(X_train,y_train)

c:\users\bhanu prakash\envs\flask\lib\site-packages\sklearn\linear_model\_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
from sklearn.tree import DecisionTreeClassifier
c=DecisionTreeClassifier().fit(X_train,y_train)
#accuracy on Training dataset
c.score(X_test,y_test)

0.7371794871794872

In [34]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier().fit(X_train,y_train)
rf.score(X_test,y_test)

0.782051282051282

In [35]:
from sklearn import svm
#Create a svm Classifier
clf = svm.SVC(kernel='linear')
model = clf.fit(X_train, y_train)
model.score(X_test, y_test)

0.6730769230769231

In [36]:
classifier_LR.score(X_train,y_train)

0.7290322580645161

In [37]:
import pickle

In [47]:
pickle.dump(rf,open('liver1.pk','wb'))

In [39]:
a = [18,0.9,0.3,202,22,19,7.4,4.1,1.20,0]

In [40]:
import numpy as np
a = np.array(a)

In [41]:
a = np.reshape(a,(1,10))

In [45]:
rf.predict(a)

array([0], dtype=int64)

In [46]:
from sklearn.metrics import confusion_matrix
y_pred = rf.predict(X_test)
confusion_matrix(y_test,y_pred)

array([[64, 10],
       [24, 58]], dtype=int64)

In [44]:
X_test

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Gender_Male
748,39,0.744394,0.148131,165,23,31,7.151416,3.621971,0.948131,0
414,46,0.700000,0.200000,224,40,23,7.100000,3.000000,0.700000,1
168,75,8.000000,4.600000,386,30,25,5.500000,1.800000,0.480000,1
34,48,1.400000,0.600000,263,38,66,5.800000,2.200000,0.610000,1
569,42,4.762768,2.410201,646,149,232,5.984730,2.686420,0.818467,1
...,...,...,...,...,...,...,...,...,...,...
664,50,1.325028,0.475083,203,31,22,6.475526,3.250166,1.019956,0
538,23,0.707751,0.203875,187,11,10,5.546505,2.354256,0.728989,0
726,29,0.800000,0.200000,156,16,17,7.220577,4.005874,1.176469,0
179,60,2.300000,0.600000,272,79,51,6.600000,3.500000,1.100000,1
159,72,1.700000,0.800000,200,28,37,6.200000,3.000000,0.930000,1